<hr />
<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1>Interested in working together?</h1>
      <a class="btn btn-primary" href="mailto:tyler.lirette@gmail.com" role="button">Email me.</a>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row"></div>
    <div class="col-lg-12">
      <p class="text-crimson text-center">&copy;
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> Tyler Lirette
      </p>
    </div>
  </div>
</div>