body, .text-crimson {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'open Sans', sans-serif;
}

.jumbotron-fluid {
    background-image: url('/images/bg.jpg');
    height: 100vh;
    position: relative;
    top: -75px;
    z-index: -1;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.hero-text {
    position: relative;
    top: -50px;
}

.abs-center-x {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-name {
    color: rgba(0,0,0,.5);

    &:hover {
        color: rgba(0,0,0,.7);
        text-decoration: none;
    }
}

img.logo {
    width: 100px;
}
