body, .text-crimson {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'open Sans', sans-serif;
}

.jumbotron-fluid {
    background-image: url('/images/bg.jpg');
    position: relative;
    padding-bottom: 3rem;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.hero-text {
    position: relative;
    top: -50px;
}

.abs-center-x {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-name {
    color: rgba(0,0,0,.5);

    &:hover {
        color: rgba(0,0,0,.7);
        text-decoration: none;
    }
}

img.logo {
    width: 65px;
}

.tyler {
    max-width: 400px;
    width: 80%;
    padding-bottom: 0.5rem;
}

.tyler-dodgeball {
    max-width: 1000px;
    width: 90%;
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

button.navbar-toggler:focus {
    outline: none;
}

.elite-logo {
    max-width: 350px;
    width: 100%;
}

.snax {
    max-width: 800px;
    width: 100%;
}

.laser-tag {
    max-height: 450px;
}